html {
  font-family: Verdana, Arial, sans-serif;
  background-color: #bee;
}
body{
  max-width: 1000px;
  margin: auto;
}
header{
  padding: .5em;
}
p{
  clear: both;
  padding: .5em;
  line-height: 1.3em;
}
h2{
  text-align: center;
  background-color: #bee;
}
h3 {
  text-align: center;
}
ul {
  list-style: none;
}
li{
  line-height: 1em;
  padding: .5em 0;
}
section {
  clear: both;
}
div{
  width: 46%;
  padding: .5em;
  margin: auto;
}
.do {
  float: left;
}
.dont {
  float: right;
}
blockquote {
  padding: .5em;
  background-color: #eff;
  border-left-style: solid;
  border-left-color: #036;
  border-left-width: .5em;
}
a {
  text-decoration: none;
  color: #036;
}
footer{
  clear: both;
}
